*{
  box-sizing: border-box;
}
body, html, section, main, div, aside, p {
  border: 0;
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-family: 'Oswald', sans-serif;
  padding: 0;
}

.img-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1000;
}

.background-img {
  height: 100vh;
  width: 100%;
}

.heading-container {
  position: absolute;
  left: 75px;
  margin: 0;
  top: 50px;
}

.heading {
  display: inline-block;
  color: #FFF;
  font-size: 36px;
  margin: 0;
}

span {
  display: inline-block;
  color:  #FFF;
  font-family: 'Pacifico', cursive;
  font-size: 72px;
  margin: 0;
  padding: 0 10px;
}

.input-sect {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 350px;
  left: 300px;
}

input, button:focus {
  outline: none;
}

.input {
  height: 50px;
  width: 300px;
  opacity: 0.70;
  border-radius: 10px;
}


.input::-webkit-input-placeholder {
    color:    #000;
     opacity: 1 !important;
}

.suggest-btn {
  height: 50px;
  width: 100px;
  opacity: 0.70;
  background-color: #FFF;
  border-radius: 10px;
}

.append-sect {
  height: 350px;
  width: 300px;
  background-color: #FFF;
  position: absolute;
  top: 60px;
  left: 440px;
  border-radius: 10px;
  opacity: 0.70;
}

ul {
  text-align:justify;
  text-decoration: none;
}

ul:hover {
  background-color: #CC3F35
}
