*{
  box-sizing: border-box;
}
body, html, section, main, div, aside, p {
  border: 0;
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-family: 'Oswald', sans-serif;
  padding: 0;
}

.img-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1000;
}

.background-img {
  height: 100vh;
  width: 100%;
}

.heading-container {
  left: 75px;
  margin: 0;
  position: absolute;
  top: 50px;
}

.heading {
  color: #FFF;
  display: inline-block;
  font-size: 36px;
  margin: 0;
}

span {
  color: #FFF;
  display: inline-block;
  font-family: 'Pacifico', cursive;
  font-size: 72px;
  margin: 0;
  padding: 0 10px;
}

.input-sect {
  display: flex;
  justify-content: center;
  left: 300px;
  position: absolute;
  top: 350px;
  width: 100%;
}

input, button:focus {
  outline: none;
}

.input {
  border-radius: 10px;
  height: 50px;
  opacity: 0.70;
  width: 300px;
}

.input::-webkit-input-placeholder {
    color: #000;
     opacity: 1 !important;
}

.clear-btn {
  background-color: #FFF;
  border-radius: 10px;
  height: 50px;
  opacity: 0.70;
  width: 100px;
}

.append-sect {
  background-color: #FFF;
  border-radius: 10px;
  height: 350px;
  left: 440px;
  opacity: 0.70;
  position: absolute;
  top: 60px;
  width: 300px;
}


ul {
  text-align:justify;
  text-decoration: none;
}

ul:hover {
  background-color: #CC3F35;
  cursor: pointer;
}
